{% extends 'base.html' %}
{% block content %}

<h1> Hello {{PRN}}  </h1>

<form action="enter" method="post">

    {% csrf_token %}
    <div>
        Enter PRN : <input type="text" name='prn'><br>
        Select Semester :  <select name="semester">
            <option value="1">Sem 1</option>
            <option value="2">Sem 2</option>
            <option value="3">Sem 3</option>
            <option value="4">Sem 4</option>
            <option value="5">Sem 5</option>
            <option value="6">Sem 6</option>
            <option value="7">Sem 7</option>
            <option value="8">Sem 8</option>
        </select>
    </div>
    <input type="Submit">
</form>
{% endblock %}
